@import ../base/variables


.application
  position: relative

  &__workspace
    width: 100vw
    height: 100vh
    overflow: hidden

  &__toolkit
    position: absolute
    top: 10px
    left: 10px
    z-index: 100


.toolkit-button
  display: block
  width: 30px
  height: 30px
  border: none
  border-radius: 7px
  background: white

  &_plus
    position: relative
    transition: all $transition-default

    &::before,
    &::after
      position: absolute
      top: 50%
      left: 50%
      z-index: 1
      content: ''
      display: block
      width: 2px
      height: 10px
      background: black
      transform: translate( -50%, -50% )

    &::before
      width: 10px
      height: 2px

    &::after
      width: 2px
      height: 10px

    &:hover
      transform: scale( 1.1 )